.box {
    max-width: 400px;
    height: 349px;
    border-radius: 7px;
    padding: 50px 30px;
    background: #fff;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);

}
h1{
    margin-left: 100px;
    text-align: center;
    font-family: inherit;
    margin-bottom: 0px;
    font-size: 36px;
    font-weight: 300;
    display: flex;

}

.btn-primary {
    margin-right: auto;
    margin-left: auto;
    margin-top: 8px;
    width: 9em;
    height: 40px;
    background: #002F7D;
    border-radius: 6px;
    border-color: white;
    box-shadow: #002f7d 1px;
}
.form-control-sm {
    margin-top: 15px;
    width: 300px;
    margin-left: 20px;
}