.page {
    background: linear-gradient(to bottom, #1487cb 25%, #1f5cc0 100%);
    min-height: 100vh;
    overflow: hidden;

}
.loupeimage {
    width: 280px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    position: relative;
    top: 252px;
}
.bonjour {
    color: white;
    position: relative;
    top: 270px;
    left: 350px;
}
.form-control {
    position: relative;
    top: 290px;
    left: 0;
    height: 60px;
    border-radius:8px;
    text-align: center;
    font-size: 19px;
    color: #dcdad9;
}
h1{
    font-family: monospace;
    font-size: 35px;
    line-height: 1.2;
}
