.black {
    background-color: #272727;
    width: 2556px;
    height: 44px;
    position: fixed;
    bottom: 0;
}
p{
    margin: auto;
    width: 40%;
    color: white;
    padding: 10px ;
    background: #272727;
    font-size: 16px;
    position: relative;
    left: 50px;
}