.weakspot {
    background-color: white;
    height: 60px;

}
.logo {
    position: relative;
    left: 850px;
    padding: 13px;
}
.user {
    position:relative;
    left: 1080px;
    margin-top: 12px;
}
.aurelien {
    position: relative;
    left: 490px;
    font-family: inherit;
    line-height: 1.2;
    right: 10px;
    margin-top: 12px;
    color: gray;
}
.credits {
    position: relative;
    right: 15px;
    font-size: 13px;
}