.wrapper-central {
    background: #1487cb;
    background: linear-gradient(to bottom, #1487cb 25%, #1F5CC0 100%);
    min-height: 100vh;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 10px;
}
.d-flex{
    display: flex;
}


.text-center{
    font-weight: 300;
    color: #fff;
    font-size: 25px;
}

.board{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}

.link-details{
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none !important;
    padding-left: 26px;
    transition: all ease-in-out 0.25s;
}

.link-details:hover{
    color: yellow;
}


h2{
    font-weight: 300;
    color: #fff;
    font-size: 25px;
    margin-bottom: 50px;
}

.counter{
    font-size: 80px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    color: #ffffff;
}

.categorie{
    font-size: 26px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #ffffff;
}

.sub-infos{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.1;
    margin: 0;
    color: #ffffff;
}

h1{
    margin: 0 0 5px;
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
}


.unit-kpi{
    margin-top: 20px;
    color: #fff;
    text-align: center;
    padding: 40px 50px 30px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    transition: all ease-in-out 0.25s;
}

.unit-kpi:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.points-attention {
    position: relative;
    text-align: center;
    top: 100px;
    color: white;
    margin: 0 0 120px;
}
.p {
    color: #bbe5ff;;
    margin: 0 0 16px;
    position: relative;
}
.h2 {
    text-align: center;
    position: relative;
    top: 0;
    color: #fff;
}

.container {
    background: #164c92;
    border-radius: 25px;
    color: white;
}
.box1 {
    color: white;
    height: 300px;
    width: 300px;
    border: black;
    border-radius: 25px;
    text-align: center;
    display: flex;
    margin: auto;
    transition: transform .4s;
    padding: 0 0 5px 0 ;
}
.box1:hover {
    transform: scale(1.1);
}
.container .box1 {

    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box2 {
    height: 300px;
    width: 300px;
    border: black;
    border-radius: 25px;
    text-align: center;
    display: flex;
    margin: auto;
    color: white;
    transition: transform .4s;
}
.box2:hover{
    transform: scale(1.1);
}
.box3 {
    height: 300px;
    width: 300px;
    border: black;
    border-radius: 25px;
    text-align: center;
    display: flex;
    margin: auto;
    color: white;
    transition: transform .4s;
}
.box3:hover {
    transform: scale(1.1);
}
.nr114 {
    display: flex;
    justify-content: center;
    font-size: 60px;

}
.email {
    display: flex;
    font-size: 40px;
    justify-content: center;
}
.image-email{
    display: flex;
    justify-content: space-between;
    font-size: 40px;
}

.nr38 {
    display: flex;
    justify-content: center;
    font-size: 60px;

}
.mises {
    display: flex;
    font-size: 40px;
    justify-content: center;
}
.web {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.nr23 {
    display: flex;
    justify-content: center;
    font-size: 60px;
}
.service {
    display: flex;
    justify-content: center;
    font-size: 35px;
}
.public {
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.cloud {
    padding-top: 30px;
}
.settings {
    padding-top: 30px;
}
.para p{
    margin-top: 20px;
    font-size: 20px;

}
.para p:hover {
    color: yellow;
}



