.button {
    margin-top: 30px;
    height: 50px;
    width: 240px;
    font-size: 20px;
    color: #1A6FC4;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    font-weight: 500;
}
.button:hover {
    background-color: #6c757d;
}
.button2{
    margin-top: 30px;
    margin-left: 20px;
    right: 650px;
    height: 50px;
    width: 240px;
    font-size: 20px;
    color: white;
    background: #002f7d;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    font-weight: 500;
}
.button2:hover {
    background-color: black;
}

.two {
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    padding: 0 0 70px 0;
    text-align: center;
}



