.details-technique{
    background: #164c92;
    height: 900px;
    overflow: hidden;
    display: block;
    padding: 50px 0 0;
}

.listing-details{
    background: #123d75;
    font-size: 15px;
    color: #fff;
    max-height: 515px;
    scroll-behavior:smooth;
    overflow: auto;
    text-align: center;
}

.bloc-recomandations{
    border: 1px solid ;
    color: #fff;
    padding: 30px 40px;
}

.txt{
    font-size: 15px;
    color: #fff;
    margin: 0;
}

.bloc{
    text-align: center
}

p{
    color: #bbe5ff;
    line-height: 1.2;
}

h3 {
    font-size: 1.75rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: white;
}

h4,{
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    color: white;
}

.number1{
    font-size: 65px;
    color: #86cbf5;
    font-weight: 400;
    position: center;
    top: 0;
    left: 0;
    line-height: 0.8;
}

.number2{
    font-size: 65px;
    color: #86cbf5;
    font-weight: 400;
    position: center;
    top: 0;
    left: 0;
    line-height: 0.8;
}

.number3{
    font-size: 65px;
    color: #86cbf5;
    font-weight: 400;
    position: center;
    top: 0;
    left: 0;
    line-height: 0.8;
}

.titre-reco{
    font-size: 18px;
    color: #86cbf5;
}

.thead{
    color: #002f7d;
    font-size: 16px;
    font-weight: 500;
    background: #86cbf5;
    padding: 10px 15px;
}

.details{
    border-bottom: dashed white 1px;
    margin-top: 15px;
}





