.weakspot {
    background-color: white;
    height: 60px;
    display: flex;
    margin: auto;
}
.logo-weakspot {
    color: black;
    display: flex;
}
.icon{
    position: relative;
    top:15px ;
    left: 100px;
    display: flex;

}
.form-search-nav {
    position: relative;
    display: flex;
    width: 600px;
    left: 50px;
    top: 12px;
}
.form-text {
    position: relative;
    top: 15px;
    display: flex;
    left: 50px;

}

.logo {
    position: relative;
    padding: 13px;
    display: flex;
}
.user {
    position:relative;
    display: flex;
    float:left;
    width:100px;
    margin-left: 500px;
}
.aurelien {
    position: relative;
    margin-top: 12px;
    color: gray;

}
.credits {
    position: relative;
    right:15px;
    font-size: 13px;
}

.userlogo{
    margin-left: 180px;
}

