.boy {
    color: #ffffff;
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;

}
.girl {
    display: flex;
    justify-content: center;

}

.black {
    background-color: black;
    color: white;
    text-align: center;
    height: 40px;
    border: black;
    padding: 8px;
}
.mesure {

    position: absolute;
    font-weight: 700;
    display: block;
    margin-top: 350px;
    left: 300px;
}
.toto {
    height: 300px;
    width: 450px;
    font-size: 68px;
}
p {
    font-size: 15px;
}
